@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chakra Petch', sans-serif;
}

html { 
    background: url('/static/assets/light.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    padding-top: 10vh;
    background-color: transparent;
    color: white;
}

a.nav-link {
    color: white;
    margin: 3px 7px 0 0px;
}

.btn {
    background-color: rgb(54, 70, 110);
    color: white;
    border: none;
}

.btn:hover {
    background-color: rgb(70, 93, 149);
    color: white;
}

.grow {
    border-radius: 10px;
    transition: all .4s ease-in-out;
}

.grow:hover {
    transform: scale(1.025);
}


a.navbar-brand {
    color: rgb(24, 39, 77);
    font-weight: 600;
}

a.navbar-brand:hover {
    color: rgb(54, 70, 110);
}

a.nav-link.button {
    background-color: white;
    color: rgb(51, 68, 94);
    font-weight: 600;
    border-radius: 5px;
    margin: 3px 0 0 7px;
    opacity: .7;
    transition: .4s;
}

a.nav-link.button:hover {
    opacity: 1;
}

#report-number {
    font-size: 2rem;
    font-weight: 700;
}

p.card-text.bold {
    color: rgb(69, 69, 125);
    font-weight: 700;
    font-style: italic;
    font-size: 1.15rem;
}

footer {
    color: rgb(169, 169, 169);
    font-size: 12px;
}

