{% extends 'base.html' %}


{% block content %}
<h1 class="mb-5">Sighting Details</h1>

<div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
        <div class="card">
          <div class="card-body">
            <p class="card-text">Placeholder for image</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title mb-3">Report #</h5>
            <p class="card-text">When:</p>
            <p class="card-text">{{ sighting.datetime }}</p>
            <p class="card-text">Duration: {{ sighting.duration }} seconds</p>
            <p class="card-text">Where:</p>
            <p class="card-text">{{ sighting.city }}, {{ sighting.state }}</p>
            <p class="card-text">Latitude: {{ sighting.latitude }} | Longitude: {{ sighting.longitude }}</p>
            <p class="card-text">What:</p>
            <p class="card-text">Shape: {{ sighting.get_shape_display.capitalize }}</p>
            <p class="card-text">Description: {{ sighting.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}