{% extends 'base.html' %}


{% block content %}
<div class="container">
  <h1 class="mb-5">Sighting Details</h1>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 id="report-number" class="card-title mb-3">Report #{{ sighting.id }}</h5>
            <p class="card-text bold mb-2">WHEN</p>
            <p class="card-text mb-2">{{ sighting.datetime }}</p>
            <p class="card-text mb-4"><em>Duration: </em>{{ sighting.duration }}</p>
            <p class="card-text bold mb-2">WHERE</p>
            <p class="card-text mb-2">{{ sighting.city }}, {{ sighting.state }}</p>
            <p class="card-text mb-4">{{ sighting.latitude }}° | {{ sighting.longitude }}°</p>
            <p class="card-text mb-4">(Would be cool to put a little screenshot of google map coordinates here)</p>
            <p class="card-text bold mb-2">WHAT</p>
            <p class="card-text mb-2"><em>Shape:</em> {{ sighting.get_shape_display.capitalize }}</p>
            <p class="card-text">{{ sighting.description }}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
        <div class="card">
          <div class="card-body">
            <p class="card-text">Placeholder for image</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 mb-4">
      <h2 class="card-title mb-3">Comments</h2>


      <form action="{% url 'add_comment' sighting.id %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
          {{ comment_form }}
        </div>
        <button type="submit" class="btn btn-primary mb-4">Add Comment</button>
      </form>

      {% if sighting.comment_set.all.count %}
        {% for comment in sighting.comment_set.all %}
          <div class="card mb-3">
            <div class="card-body">
              <p class="card-text">Posted: {{ comment.date_posted }}</p>
              <p class="card-text">Comment: {{ comment.comment }}</p>
              <a href="{% url 'edit_comment' sighting.id comment.id %}" class="btn">Edit</a>
              <a href="{% url 'delete_comment' sighting.id comment.id %}" class="btn">Delete</a>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="card mb-3">
          <div class="card-body">
            <p class="card-text">No comments yet.</p>
          </div>
        </div>
      {% endif %}

    </div>
</div>
{% endblock %}