{% extends 'base.html' %}


{% block content %}
<h1 class="mb-5">Sightings</h1>

<div class="container">
    <div class="row">
      {% for sighting in sightings %}
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Report #</h5>
            <p class="card-text">City: {{ sighting.city.capitalize }}</p>
            {% if sighting.state %}
            <p class="card-text">State: {{ sighting.state.upper }}</p>
            {% else %}
            <p class="card-text">Country: {{ sighting.country.upper }}</p>
            {% endif %}
            <p class="card-text">When: {{ sighting.datetime }}</p>
            <p class="card-text">{{ sighting.comment }}</p>
            <div class="text-center">
              <a href="#" class="btn btn-primary">Details</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}