{% extends 'base.html' %}


{% block content %}
<div class="container">

  <h1 class="mb-4">Recent Sightings</h1>
    <div class="col-md-6 col-lg-4 mb-6"></div>
    <form action="{% url 'search' %}" method="GET" class="input-group rounded mb-3" style="max-width: 375px;">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" name="q">
        <span>
          <button class="btn btn-search" style="background-color: transparent;" type="submit"><img src="/static/assets/search.png"></button>
        </span>
    </form>
    <div class="row" id="sightings-row">
      {% for sighting in sightings %}
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card grow h-100">
            <div class="card-body">
                <h5 class="card-title mb-3">Report #{{ sighting.id }}</h5>
                <p class="card-text">{{ sighting.datetime }}</p>
                <p class="card-text">City: {{ sighting.city }}</p>
                <p class="card-text">State: {{ sighting.state }}</p>
                <div class="text-center">
                    <a href="{% url 'detail' sighting.id %}" class="btn">Details</a>
                </div>
                <span class="position-absolute bottom-0 start-0 m-3"><a href="#"><img src="/static/assets/arrow-up-bold.png"></a></span>
                <span class="position-absolute bottom-0 end-0 m-3"><a href="#"><img src="/static/assets/arrow-down-bold.png"></a></span>
            </div>
        </div>
    </div>
      {% endfor %}
  </div>

  <div class="container d-flex justify-content-center">
    <img class="cow" src="/static/assets/cow.png">
  </div>

  <script defer>
    let page = 1;
    let isLoading = false;

    const loadMoreData = async () => {
      isLoading = true;
      page++;

      console.log('Loading more data...'); // Added console log

      try {
        const response = await fetch(`/fetch_sightings/?page=${page}`);
        const data = await response.json();

        if (data.has_next) {
          const sightings = JSON.parse(data.data);
          const row = document.getElementById('sightings-row');

          sightings.forEach(sighting => {
            const col = document.createElement('div');
            col.className = 'col-md-6 col-lg-4 mb-4';

            col.innerHTML = `
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title mb-3">Report #${sighting.pk}</h5>
                  <p class="card-text">City: ${sighting.fields.city}</p>
                  <p class="card-text">State: ${sighting.fields.state}</p>
                  <p class="card-text">When: ${new Date(sighting.fields.datetime).toLocaleString('en-US', { month: 'short', day: 'numeric', year: 'numeric', hour: 'numeric', minute: '2-digit' })}</p>
                  <div class="text-center">
                    <a href="/sightings/${sighting.pk}" class="btn">Details</a>
                  </div>
                </div>
              </div>
            `;

            row.appendChild(col);
          });
        }
      } catch (error) {
        console.error("Error fetching more sightings:", error);
      }

      isLoading = false;
    };

    window.onscroll = () => {
      console.log('Scroll event fired...'); // Added console log
      if (window.innerHeight + window.scrollY >= document.body.offsetHeight - 100 && !isLoading) {
        loadMoreData();
      }
    };
  </script>
{% endblock %}