@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chakra Petch', sans-serif;
}

html { 
    background: url('/static/assets/light.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    padding-top: 10vh;
    background-color: transparent;
    color: white;
}

.header-scrolled {
    backdrop-filter: blur(25px);
    background-color: rgb(54, 70, 110, .4);
    transition: ease-in-out .5s;
}

a.nav-link {
    color: white;
    padding: 5px;
}

.btn {
    background-color: white;
    color: rgb(54, 70, 110);
    font-weight: 500;
    border: none;
    transition: .25s;
}

.btn:hover {
    background-color: rgb(197, 197, 197);
    color: white;
}

.btn-delete {
    background-color: rgb(214, 48, 48);
    color: white;
    font-weight: 500;
}

.btn-delete:hover {
    background-color: rgb(240, 77, 77);
}

.card {
    background-color: rgb(69, 92, 128);
    border: none;
    color: white
}

.grow {
    border-radius: 10px;
    transition: all .4s ease-in-out;
}

.grow:hover {
    transform: scale(1.025);
}


a.navbar-brand {
    color: rgb(24, 39, 77);
    font-weight: 600;
}

a.navbar-brand:hover {
    color: rgb(54, 70, 110);
}

a.nav-link.button {
    background-color: white;
    color: rgb(54, 70, 110);
    font-weight: 500;
    border-radius: 5px;
    margin: 3px 7px 0 0;
    transition: .4s;
}

a.nav-link.button:hover {
    background-color: rgb(197, 197, 197);
    color: white;
}

img#account-logo {
    padding-top: 3px;
}

.dropdown-menu {
    left: -125px;
    top: 45px;
}

.dropdown-item {
    text-align: right;
}

.dropdown-toggle::after {
    display: none;
}

.cow {
    position: absolute;
    bottom: 30px;
    z-index: -50;
    transition: all 8s ease-in;
}

.cow:hover {
    transform: translateY(-100vh) rotate(45deg);
}

img#account-logo {
    padding-top: 3px;
}

.dropdown-menu {
    left: -125px;
    top: 45px;
}

.dropdown-item {
    text-align: right;
}

.dropdown-toggle::after {
    display: none;
}

img#account-logo {
    padding-top: 3px;
}

a.dropdown-item.disabled {
    color:rgb(24, 39, 77)
}

.dropdown-menu {
    position: relative;
    right: 0;
    left: auto;
}

.dropdown-item {
    text-align: right;
}

.dropdown-toggle::after {
    display: none;
}

.grow {
    transition: all .4s ease-in-out;
}

.grow:hover {
    transform: scale(1.05);
}

#report-number {
    font-size: 2rem;
    font-weight: 700;
}

p.card-text.bold {
    color: rgb(107, 172, 237);
    font-weight: 700;
    font-style: italic;
    font-size: 1.15rem;
}

footer {
    color: rgb(169, 169, 169);
    font-size: 12px;
}

textarea#id_comment {
    height: 100px;
}

.blue {
    color: rgb(107, 172, 237);
}

.small.grey {
    color: rgb(197, 197, 197);
}

div.form-text {
    display: none;
}


.dark-blue {
    color: rgb(54, 70, 110);
    font-weight: 500;
}

.dark-blue:hover {
    color: rgb(128, 145, 186);
    font-weight: 500;
}

.sort-btn {
    color: white;
    background-color: rgb(162, 160, 160);
    border-left: 2px solid grey;
}

.sort-btn:hover {
    color: white;
    background-color: rgb(107, 172, 237);
    border-left: 2px solid grey;
}

#mobile-account {
    display: none;
}

@media (max-width: 767px) {
    .navbar-collapse.collapse.show {
        border-radius: 10px;
        backdrop-filter: blur(10px);
    }
    
    a.nav-link.navbar-brand {
        display: none;
    }

    #mobile-account {
        display: inline;
    }

    a.nav-link.button {
        display: none;
    }

    .navbar-collapse {
        background-color: rgba(53, 71, 100, 0.808);
        padding: 10px;
        border-radius: 5px;
    }
    
    .navbar-nav li {
        display: block;
        margin-bottom: 10px;
    }

    button.navbar-toggler {
        border: none;
    }

    span.navbar-toggler {
        border: none;
        padding: 0;
    }
}


@keyframes getBrighter {
    from {
        filter: brightness(1);
        opacity: 1;
    }
    to {
        filter: brightness(3);
        opacity: .75;
    }
}