{% extends 'base.html' %}


{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12 col-sm-12 mb-4">
            <h1 class="mb-5">A Bit About Anomalies Anonymous</h1>
            <div class="card">
                <div class="card-body">
                    <p class="card-text mb-4">Welcome to <em><strong>Anomalies Anonymous</strong></em>, an online community created for people to share their experiences with unexplained phenomena. Our goal is to provide a safe space for individuals to anonymously report UFO sightings, discuss otherworldly encounters, and connect with others who have had similar experiences.</p>
                    <p class="card-text mb-4">Our community is open to anyone who has witnessed something strange and wants to share their story. We encourage you to submit a sighting report, no matter how big or small, so that we can work together to better understand these anomalous events.</p>
                    <p class="card-text mb-4"><em><strong>Anomalies Anonymous</strong></em> is also a place to connect with others who share your interests in the unknown. You can read about other sightings, comment on reports, and engage in discussions with our community. We believe that by working together, we can uncover new information and shed light on the mysteries that surround us.</p>
                    <p class="card-text mb-4">As a measure to uphold the integrity of our site, you must create an account to report a sighting or connect with other users. Our site is moderated to ensure a respectful and safe environment for all members. We ask that you treat others with kindness and refrain from any hateful or harmful language.</p>
                    <p class="card-text mb-4">Thank you for joining our community and being a part of the search for answers. Together, we can uncover the truth behind the anomalies that we encounter.</p>
                    {% if not user.is_authenticated %}
                        <div class="text-center mt-5 mb-2">
                            <a class="btn" href="{% url 'signup' %}">Join Now</a>
                            <a class="btn" href="{% url 'login' %}">Log In</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}