{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Anomalies Anonymous</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/skeleton.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
  <header>
    <nav>
      <div>
        <ul>
            <li><a href="/about">About</a></li>
        </ul>
        <ul>
          <li><a href="/">Anomalies Anonymous</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}

    {% endblock %}
  </main>
  <footer>
    <div>All Rights Reserved, &copy; 2023 Anomalies Anonymous&nbsp;</div>
  </footer>
</body>
</html>
